#gcm4ml_version: 2.0.4
nodejs_version: 14
virtualbox_version: 6.1
# uncomment these if you do have Graylog and want to log sudo commands
#graylog_host: graylog.foobar.com
#graylog_port: 1514
# copy your onboarding file to devenv/files
#mdatp_deploy: True

# uncomment to password-protect grub
# generate with grub-mkpasswd-pbkdf2 -c 1000000
#grub_password: grub.pbkdf2.sha512.10000.94354283509BA6A25F290A4FB8664C79310675EE78DB3D8D6F8E532ECAFDAD8A8A792DBBBB9D707B3A77D70B4FF0426E50D9BC81F323C13038BC8E8E299DC1A0.93DFAD9554ABA0C7B6F60ABB744910FDC4EDFD1482BA039DEF846C63C55194D09CF96D471494AB17ADA308772491324F8552B2351FF73E5F15ADA3235D5DCBCF

# TODO use from ad role
ad_domain: ad.foobar.com
# List of SMB shares to be available by default for new users
# Later these can be edited in ~/.pam_mount.conf.xml
ad_smb_shares:
  - { host: filesrv, path: common, version: 2.1, enabled: True }
  - { host: filesrv, path: legal, version: 2.1, enabled: False }
  - { host: filesrv, path: hr, version: 2.1, enabled: False }
