- name: Deploy WireGuard generator config
  template:
    src: wg-gen.conf.j2
    dest: /etc/wireguard/wg-gen.conf
    owner: root
    group: root
    mode: '0600'

- name: Deploy WireGuard generator
  copy:
    src: wg-gen.sh
    dest: /etc/wireguard/wg-gen.sh
    owner: root
    group: root
    mode: '0755'

- name: Deploy WireGuard Git credential file
  lineinfile:
    path: /root/.git-credentials
    line: "{{ wg_credential }}"
    create: yes
    owner: root
    group: root
    mode: '0600'
  when: wg_credential is defined

- name: Set Git credential
  ini_file:
    path: /root/.gitconfig
    section: credential
    option: helper
    value: store
    create: yes
    owner: root
    group: root
    mode: '0664'
  when: wg_credential is defined

- name: Set Git identity for versioned updates
  ini_file:
    path: /root/.gitconfig
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    create: yes
    owner: root
    group: root
    mode: '0664'
  loop:
  - { section: 'user', option: 'name', value: 'wg-gen' }
  - { section: 'user', option: 'email', value: 'wg-gen@foobar.io' }

- name: Obtain WireGuard config repo
  git:
    repo: "{{ wg_repo }}"
    dest: /etc/wireguard/repo.d
    force: yes
  when: wg_credential is defined and wg_repo is defined

- name: Create WireGuard config repo
  command:
    cmd: git init /etc/wireguard/repo.d
  register: wg_git_init
  changed_when: (git_reinit_str not in wg_git_init.stdout)
  when: wg_credential is not defined or wg_repo is not defined

- name: Generate WireGuard config
  command:
    cmd: /etc/wireguard/wg-gen.sh
  register: wg_gen_cmd
  changed_when: (git_uptodate_str not in wg_gen_cmd.stderr)

# no need to non-idempotently restart here, wg-gen restarts it anyway
- name: Enable WireGuard
  systemd:
    name: wg-quick@wg0
    state: started
    enabled: yes

# TODO other options https://www.cyberciti.biz/faq/centos-8-set-up-wireguard-vpn-server/
- include_role:
    name: sysctl
  loop:
  - { file: '99-wireguard', option: 'net.ipv4.ip_forward', value: '1' }
  - { file: '99-wireguard', option: 'net.ipv6.conf.all.forwarding', value: '1' }
