- include_role:
    name: 3rdparty
  loop:
  - { name: 'containerd', package: 'containerd', allow_downgrade: True, version: "{% if containerd_version is defined %}{{ containerd_version }}{% endif %}" }

- name: Install containerd
  apt:
    name: containerd
    state: latest

- name: Enable containerd
  systemd:
    name: containerd.service
    state: started
    enabled: yes

- name: Disable Nouveau driver
  copy:
    src: blacklist-nouveau.conf
    dest: /etc/modprobe.d/blacklist-nouveau.conf
    mode: '0644'
  notify: Update initramfs

- name: Load GPU operator dependency modules
  modprobe:
    name: "{{ item }}"
  loop: "{{ gpuop_modules }}"

- name: Load GPU Operator dependency modules on boot
  lineinfile:
    path: /etc/modules-load.d/gpuop.conf
    line: "{{ item }}"
    owner: root
    group: root
    mode: '0644'
    create: yes
  loop: "{{ gpuop_modules }}"
