deb https://nvidia.github.io/libnvidia-container/stable/ubuntu{{ ubuntu_version }}/$(ARCH) /
deb https://nvidia.github.io/nvidia-container-runtime/ubuntu{{ ubuntu_version }}/$(ARCH) /
deb https://nvidia.github.io/nvidia-docker/ubuntu{{ ubuntu_version }}/$(ARCH) /
