deb https://nvidia.github.io/libnvidia-container/ubuntu{{ ansible_distribution_version }}/$(ARCH) /
deb https://nvidia.github.io/nvidia-container-runtime/ubuntu{{ ansible_distribution_version }}/$(ARCH) /
deb https://nvidia.github.io/nvidia-docker/ubuntu{{ ansible_distribution_version }}/$(ARCH) /
