---
- name: Molecule preparations
  hosts: ubuntu
  tasks:

    # Apparently these aren't needed. Let these stay here as an example, just in case.
    - name: Enable systemd in WSL
      ini_file:
        path: /etc/wsl.conf
        section: 'boot'
        option: 'systemd'
        value: 'true'
        create: true
        owner: root
        group: root
        mode: '0644'

    - name: Install systemd
      apt:
        name: systemd
        update_cache: true
