[Unit]
Description=AppImage daemon
After=basic.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/appimaged
Restart=always
RestartSec=5s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
