[Unit]
Description=Pageant daemon
After=basic.target
[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/bin/pageant --permanent > $HOME/.pageant'
#RemainAfterExit=no
#ExecStop=/bin/sh -c '/bin/rm -f $HOME/.pageant'
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=graphical.target
