---
# AD domain name
ad_domain: ad.foobar.com
# Hostnames of all DCs
ad_dc_names:
  - dc1
  - dc2
  - dc3
# IPs of DCs performing DNS lookup
ad_dc_ips:
  - 192.168.3.1
  - 192.168.3.2
  - 192.168.3.3
# Hostname of the DC used for NTP sync
ad_ntp_dc: dc3
# Hostname of the DC set as Kerberos admin server
ad_admin_dc: dc1
# List of SMB shares to be available by default for new users
# Later these can be edited in ~/.pam_mount.conf.xml
ad_smb_shares:
  - { host: filesrv, path: common, version: 2.1, enabled: True }
  - { host: filesrv, path: legal, version: 2.1, enabled: False }
  - { host: filesrv, path: hr, version: 2.1, enabled: False }
