- name: Deploy ldap2unix
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0755'
  loop:
    - { src: 'ldap2unix', dest: '/usr/local/sbin/ldap2unix' }
    - { src: 'ldap2unix-cron', dest: '/etc/cron.daily/ldap2unix' }
  notify: Restart cron service

- name: Deploy ldap2unix config file
  template:
    src: ldap2unix.conf.j2
    dest: /usr/local/etc/ldap2unix.conf
    mode: '0644'
  notify: Restart cron service
