- name: Install HWE kernel
  apt:
    name: "linux-generic-hwe-{{ ansible_distribution_version }}-edge"
    state: latest

- include_role:
    name: desktopcheck

# TODO enable for 20.04 once released
- name: Install HWE X.Org
  apt:
    name: "xserver-xorg-hwe-{{ ansible_distribution_version }}"
    state: latest
  when: (target_is_desktop) and (ansible_distribution_version == '18.04')
