- name: Obtain hostname information
  command:
    cmd: cat /etc/hostname
  changed_when: no
  register: etc_hostname_content

- name: Check /etc/hostname format
  shell:
    cmd: echo "{{ etc_hostname_content.stdout }}" | grep -E "^[[:alnum:]\-]+\.{{ ad_domain}}$"
  failed_when: no
  changed_when: no
  register: etc_hostname_check1

- name: Check /etc/hostname format
  shell:
    cmd: echo "{{ etc_hostname_content.stdout }}" | grep localhost
  failed_when: no
  changed_when: no
  register: etc_hostname_check2

- fail:
    msg: "Hostname appears to be in wrong format! Please set it with the following command: 'sudo hostnamectl set-hostname foo999linux.{{ ad_domain }}', then reboot."
  when: (etc_hostname_check1.rc != 0) or (etc_hostname_check2.rc == 0) or (etc_hostname_content.stdout_lines|length != 1)

- name: Configure /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: '0644'
  register: etc_hosts

# nuke SSSD cache if changed
- name: Stop SSSD service
  systemd:
    name: sssd.service
    state: stopped
  register: sssd_stop
  when: etc_hosts.changed

- name: Clear SSSD cache
  shell:
    cmd: sss_cache --everything
  when: etc_hosts.changed

- name: Start SSSD service
  systemd:
    name: sssd.service
    state: started
  # only restart if ran previously
  when: sssd_stop.changed
