- name: Enable sudo via AD
  lineinfile:
    path: /etc/nsswitch.conf
    line: "sudoers: files sss"
    regexp: ^sudoers.*
    state: present
  when: (ansible_distribution == 'Ubuntu') or ((ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and (ansible_distribution_major_version == '7'))

- name: Enable sudo via AD
  lineinfile:
    path: /etc/authselect/user-nsswitch.conf
    line: "sudoers: files sss"
    regexp: ^sudoers.*
    state: present
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and (ansible_distribution_major_version == '8')
