- include_role:
    name: varcheck
  with_items:
#  - gcm4ml_version
  - nodejs_version
  - virtualbox_version
  - ad_domain
  - ad_smb_shares
  loop_control:
    loop_var: item
  vars:
  - parent: devenv

- include_tasks: ipv6.yml
- include_tasks: utils.yml
- include_tasks: tty.yml
- include_tasks: gnome.yml
- include_tasks: apparmor.yml
- include_tasks: pgadmin.yml

# for VirtualBox
- include_role:
    name: secureboot

- include_role:
    name: 3rdparty
  loop:
  - { name: 'Google Chrome', gpg_url: 'https://dl.google.com/linux/linux_signing_key.pub', repo_file: 'google-chrome', package: 'google-chrome-stable', repo_overwrite: True }
  - { name: 'Microsoft Edge', gpg_url: 'https://packages.microsoft.com/keys/microsoft.asc', repo_file: 'microsoft-edge-dev', package: 'microsoft-edge-dev' }
  - { name: 'Node.js', gpg_url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key', repo_file: 'nodesource', package: 'nodejs' }
#  - { name: 'Spotify', gpg_url: 'https://download.spotify.com/debian/pubkey_0D811D58.gpg', repo_file: 'spotify', package: 'spotify-client' }
#  - { name: 'Vagrant', gpg_server: 'keyserver.ubuntu.com', gpg_id: 'AD319E0F7CFFA38B4D9F6E55CE3F3DE92099F7A4', repo_file: 'wolfgang42-vagrant', package: 'vagrant' }
  - { name: 'VirtualBox', gpg_url: 'https://www.virtualbox.org/download/oracle_vbox_2016.asc', repo_file: 'virtualbox', package: "virtualbox-{{ virtualbox_version }}" }
  - { name: 'Vivaldi', gpg_url: 'https://repo.vivaldi.com/archive/linux_signing_key.pub', repo_file: 'vivaldi', package: 'vivaldi-stable' }
  - { name: 'VS Code', gpg_url: 'https://packages.microsoft.com/keys/microsoft.asc', repo_file: 'vscode', package: 'code' }

- include_role:
    name: firewalld
  loop:
  - { name: 'ssh' }

- include_tasks: onedrive.yml
- include_tasks: teams.yml
- include_tasks: ide.yml
- include_tasks: git.yml
- include_tasks: shares.yml
- include_tasks: polkit.yml

- include_role:
    name: wireshark

- include_tasks: flatpak.yml
- include_tasks: convert.yml

# conditional tasks
- include_tasks: grub.yml
  when: grub_password is defined

- include_tasks: defender.yml
  when: (mdatp_deploy is defined) and (mdatp_deploy == True)

- include_tasks: sudolog.yml
  when: (graylog_host is defined) and (graylog_port is defined)

# keep this one as last
- include_tasks: cleanup.yml
