---
- include_role:
    name: varcheck
  with_items:
  - gcm4ml_version
  - github_version
  - nodejs_version
  - virtualbox_version
  - ad_domain
  - ad_smb_shares
  loop_control:
    loop_var: item
  vars:
  - parent: devenv

- include_tasks: utils.yml
- include_tasks: tty.yml
#- include_tasks: adcheck.yml
- include_tasks: gnome.yml
- include_tasks: apparmor.yml

# for VirtualBox
- include_role:
    name: secureboot

- include_role:
    name: 3rdparty
  loop:
  - { name: 'Clevis', gpg_url: 'https://apt.noobient.com/files/noobuntu.asc', repo_file: 'noobuntu', package: 'clevis', install_recommends: no }
  - { name: 'Google Chrome', gpg_url: 'https://dl.google.com/linux/linux_signing_key.pub', repo_file: 'google-chrome', package: 'google-chrome-stable', repo_overwrite: True }
  - { name: 'Node.js', gpg_url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key', repo_file: 'nodesource', package: 'nodejs' }
  - { name: 'NoMachine', gpg_url: 'https://apt.noobient.com/files/noobuntu.asc', repo_file: 'noobuntu', package: 'nomachine-enterprise-client' }
  - { name: 'pgAdmin', gpg_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc', repo_file: 'pgdg', package: 'pgadmin4' }
  - { name: 'Spotify', gpg_url: 'https://download.spotify.com/debian/pubkey.gpg', repo_file: 'spotify', package: 'spotify-client' }
  - { name: 'Vagrant', gpg_server: 'keyserver.ubuntu.com', gpg_id: 'AD319E0F7CFFA38B4D9F6E55CE3F3DE92099F7A4', repo_file: 'wolfgang42-vagrant', package: 'vagrant' }
  - { name: 'VirtualBox', gpg_url: 'https://www.virtualbox.org/download/oracle_vbox_2016.asc', repo_file: 'virtualbox', package: "virtualbox-{{ virtualbox_version }}" }
  - { name: 'VS Code', gpg_url: 'https://packages.microsoft.com/keys/microsoft.asc', repo_file: 'vscode', package: 'code' }

- include_role:
    name: firewalld

- include_tasks: onedrive.yml
- include_tasks: teams.yml
- include_tasks: ide.yml
- include_tasks: git.yml
- include_tasks: network.yml
- include_tasks: shares.yml
- include_tasks: polkit.yml
- include_tasks: wireshark.yml
- include_tasks: flatpak.yml

# keep this one as last
- include_tasks: cleanup.yml
