- name: Allow users to access network settings and SATA disks
  copy:
    src: "{{ item }}"
    dest: "/etc/polkit-1/localauthority/20-org.d/{{ item }}"
    mode: '0640'
    owner: root
    group: root
  loop:
  - 99-network-control.pkla
  - 99-sata-access.pkla
