- include_role:
    name: secureboot

- include_tasks: repo.yml
- include_tasks: driver.yml

- include_role:
    name: 3rdparty
  loop:
  - { name: 'NVIDIA Container Toolkit', gpg_url: 'https://nvidia.github.io/nvidia-docker/gpgkey', repo_file: 'nvidia-docker', package: "{{ packages }}" }
  vars:
    packages:
    - nvidia-container-toolkit
    - nvidia-container-runtime
