<?xml version="1.0" encoding="utf-8" ?>
<pam_mount>
{% for share in ad_smb_shares %}
{% if share.enabled == True %}
    <volume options="uid=%(USER),vers={{ share.version }}" user="*" mountpoint="/media/%(USER)/shares/{{ share.path }}" path="{{ share.path }}" server="{{ share.host }}.{{ ad_domain }}" fstype="cifs" />
{% else %}
    <!--volume options="uid=%(USER),vers={{ share.version }}" user="*" mountpoint="/media/%(USER)/shares/{{ share.path }}" path="{{ share.path }}" server="{{ share.host }}.{{ ad_domain }}" fstype="cifs" /-->
{% endif %}
{% endfor %}
</pam_mount>
